.site-header {
  @include lower-bxsd();
  .container {
    @extend %inline-block-fix;
    padding: 8px 0 2px;
  }
  .home-link {
    text-decoration: line-through;
    .logo {
      font-family: "Courier New";
      font-size: 10px;
      &:active {
        color: red;
      }
    }
    &:link {
      color: $purple;
    }
    &:visited {
      color: $purple;
    }
    &:active {
      color: red;
    }
  }
  .sub-head {
    padding: 1.3em 0 0 2em;
    position: relative;
  }
  .sub-header {
      transform: scale(.2,.2);
      width: 50px;
      height: 35px;
      position: absolute;
      left: 0;
      top: 0;
  }
}
