.post-item {
    @extend %inline-block-fix;
    @include lower-bxsd();
    display: block;
    padding: 6px 10px;
    margin: $post-item-margins;
    .post-title {
        width: 68%;
        padding: 0 5px 0 0;
    }
    > span {
        font-size: 14px;
    }
    .date {
        width: 32%;
        text-align: right;
    }
}