.imgs {
    margin: 0px;
    padding: 0px;
}
.imgs li {
    margin: 0px;
}
#top_skin {
    background: black;
    height: auto;
    overflow: hidden;
    max-width: 1680px;
    margin: 0px auto 0px auto;
}
#top_skin ul.imgs img {
    width: 100%;
}
#skin_logo {
    position: absolute;
    z-index: 100;
    left: 100px;
    top: 58px;
}
#top_logo table {
    display: none;
}
.film-img p.img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.quote {
    margin-left: auto;
    margin-right: auto;
}
