.filter-section {
    @extend %inline-block-fix;

    > span {
        margin-bottom: .2em;
    }
    .query-input {
        margin: 0 .25em;
        line-height: $query-input-lineHeight;
        > input {
            height: $label-height;
            width: 11.25em;
        }
    }
    .per-tag {
        display: inline-block;
        height: 24px;
        line-height: 24px;
        padding: 0 .5em;
        cursor: pointer;
        background-color: #E7E7F7;
        border-right: 1px solid #fff;
        font-family: "pt-sans-caption";
        &.checked {
            background-color: #A2CDF0;
        }

    }
}
.sort-field {
    position: relative;
    line-height: 24px;
    margin-left: .5em;
    .order-select {
        height: 24px;
        border: 1px solid #ddd;
        -webkit-appearance: menulist-button;
    }
    .postName-field {
        position: absolute;
        top: 0;
        left: -100px;
    }
    .date-field {
        position: absolute;
        top: 0;
        right: -60px;
    }
    .up {
        color: $purple;
        &:before {
            @include arrow-up($purple, 6px);
            margin-right: 2px;
        }
    }
    .down {
        color: $royalblue;
        &:before {
            @include arrow-down($purple, 6px);
            margin-right: 2px;
        }
    }
    .random {
        color: $black;
    }
}
