@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	.site-header {
		padding: .5em 0;
	}
	.site-header .home-link .logo {
		font-size: 2px;
	}
	.site-header .sub-header {
		font-size: 1px;
	}
	.site-header .sub-head {
		padding: 0 0 0 2em;
	}
	.site-header .home-logo {
		padding: 0 0 0 2em;
	}
	.sort-field {
		display: none;
	}
	.syntaxhighlighter * {
		font-size: 4px;
	}
}