@media only screen
and (max-device-width : 960px) {
	.site-header {
		padding: .5em 0;
	}
	.site-header .home-link .logo {
		font-size: 2px;
	}
	.site-header .sub-header {
		font-size: 1px;
	}
	.site-header .sub-head {
		padding: 0 0 0 2em;
	}
	.site-header .home-logo {
		padding: 0 0 0 2em;
	}
	.sort-field {
		display: none;
	}
	.syntaxhighlighter * {
		font-size: 4px;
	}
	table th, table td {
		padding: 5px 10px;
	}
	.footer .copyrights .address {
		display: none;
	}
	.banner-header h1 {
		font-size: 12px;
	}
}