@media only screen
and (max-device-width : 960px) {
	.site-header {
		padding: .5em 0;
	}
	.site-header .home-link .logo {
		font-size: 4px;
	}
	.site-header .sub-header {
		// font-size: 1px;
	}
	.site-header .sub-head {
		padding: 0 0 0 5px;
	}
	.site-header .home-logo {
		padding: 0 0 0 5px;
	}
	.sub-header {
		font-size: 10px;
		line-height: 24px;
	}
	.sort-field {
		display: none;
	}
	.syntaxhighlighter * {
		font-size: 4px;
	}
	table th, table td {
		padding: 5px 10px;
	}
	.footer .copyrights .address {
		display: none;
	}
	.banner-header h1 {
		font-size: 12px;
	}
	.center-img-container {
	    img {
	        width: 100%;
	    }
	}
	.img-container {
	    img {
	        width: 100%;
	    }
	}
	.screenshot {
		img {
			width: 100%;
		}
	}
}


/* ios safari line number fix */


  .syntaxhighlighter {
	width: 100% !important;
	margin: 1em 0 1em 0 !important;
	position: relative !important;
	overflow: auto !important;
	font-size: 1em !important;
	overflow-y: hidden !important;
	-webkit-text-size-adjust: 100%;
}