$font-family   : "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$font-size     : 14px;
$sm-font-size  : 12px;
$big-font-size : 16px;
$default_font_size: 12px;

$purple: #551a8b;


$post-item-margins: 10px 0 0 0;

$large-margin: 20px;
$middle-margin: 10px;
$container_width: 960px;
$transparent     : rgba(0, 0, 0, 0);
$royalblue       : #4169E1;
$dark_orange     : #FF8C00;
$light-blue: #EDF5FC;
$dark-grey: #999;
$black: #000;
$label-lineHeight: 20px;
$label-height: 24px;
$query-input-lineHeight: 22px;

$white: #fff;
$border-color: #ddd;