@import "compass/reset";
@import "compass/layout";
@import "var";
@import "mixins";
@import "global";
@import "animation";
@import "header";
@import "footer";
@import "it_is_a_wonderful_life";
@import "icon_fonts";


.container {
  max-width: 960px;
  margin: 0 auto;
}

.footer {
  @include upper-bxsd();
}

.post-header {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: .5em;
  border-bottom: 2px dashed #aaa;
  .header-hint {
    font-size: 12px;
    font-weight: normal;
  }
}
.filter-section {
  @extend %inline-block-fix;
  .search-field {
    line-height: 20px;
  }
  .sort-field {
    line-height: 20px;
    margin-left: 2em;
    .order-select {
      height: 22px;
    }
  }
  .tag-field {
    line-height: 20px;
    padding-left: 1em;
  }
}
.content-section {
  @include bxsd();
  padding: 1em;
}
.git-ol {
  list-style-type: decimal;
  padding: 0 0 0 4em;
  li {
    &:first-of-type {
      border-top: none;
    }
    border-top: 1px solid #aaa;
    padding: 10px 0;
    margin-right: 4em;
  }
  img {
    display: block;
    margin: 1em 0 0 0;
  }
}
.post-item {
  @extend %inline-block-fix;
  @include lower-bxsd();
  display: block;
  padding: 10px;
  margin: $post-item-margins;
  .post-title {
    width: 70%;
  }
  > span {
    font-size: 14px;
  }
  .date {
    float: right;
  }
}
.page-body {
  padding: 1em 0;
}

.hint {
  background-color: $purple;
  color: white;
  padding: 1em;
}
h3 {
  font-size: 24px;
}

.list {
  @extend %decimal-list;
}