<div class="film-title-area">
    <h1>{{data.postTitle}}</h1>
</div>


<div ng-repeat="content in data.contents">
	<h2>{{content.category}}</h2>
	<div ng-repeat="sub in content.content">
		<h3>{{sub.sub_category}}</h3>
		<ul class="list">
			<li ng-repeat="per_link in sub.links">
				<div><a class="custom_decoration" href="{{per_link.link}}" target="_blank">{{per_link.link_text}}</a></div>
				<div ng-if="per_link.hints.length" ng-repeat="per_hint in per_link.hints">{{per_hint}}</div>
			</li>
		</ul>
	</div>

</div>
