<pre class="brush: js;">
    function getScriptParams(scriptFileName) {
       // Get all script tag
      var scripts = document.getElementsByTagName('script');
      var result = {};
      for(var i = 0; i &lt; scripts.length; ++i) {
         // Check if the file name is the same as scriptFileName
        if(scripts[i].src.indexOf(scriptFileName) !== -1) {
          // Get the parameters string
          var urls = scripts[i].src.split('?');
          if(urls.length == 2) {
            var parameters = urls[1].split('&');
            for(var j=0; j &lt; parameters.length; ++j) {
              var pair = parameters[j].split('=');
              result[pair[0]] = pair[1];
            }
          }
          break;
        }
      }
      return result;
    }
</pre>

<h4>Anonymous Closures</h4>
<pre class="brush: js;">
  (function () {
    // ... all vars and functions are in this scope only
    // still maintains access to all globals
  }());
</pre>

<h4>Global Import</h4>
<pre class="brush: js;">
  (function ($, YAHOO) {
    // now have access to globals jQuery (as $) and YAHOO in this code
  }(jQuery, YAHOO));
</pre>

<h4>Module Export</h4>
<pre class="brush: js;">
  var MODULE = (function () {
    var my = {},
      privateVariable = 1;
    function privateMethod() {
      // ...
    }
    my.moduleProperty = 1;
    my.moduleMethod = function () {
      // ...
    };
    return my;
  }());
</pre>
<script type="text/javascript-lazy" src="scripts/syntaxhighter.js"></script>