<h4>Event order</h4>
<pre class="brush: css;">
	               | |
	---------------| |-----------------
	| element1     | |                |
	|   -----------| |-----------     |
	|   |element2  \ /          |     |
	|   -------------------------     |
	|        Event CAPTURING          |
	-----------------------------------
</pre>

<pre class="brush: css;">
	               / \
	---------------| |-----------------
	| element1     | |                |
	|   -----------| |-----------     |
	|   |element2  | |          |     |
	|   -------------------------     |
	|        Event BUBBLING           |
	-----------------------------------
</pre>
<p>Function declarations and variable declarations are always moved (hoisted) invisibly to the top of their containing scope by the JavaScript interpreter.</p>

<p>But in the case with function declarations, where the entire function body will be hoisted as well.</p>

<script type="text/javascript-lazy" src="/scripts/syntaxhighter.js"></script>