<pre class="brush: js;">
Uncaught TypeError: undefined is not a function
</pre>
<pre class="brush: js;">
Uncaught ReferenceError: Invalid left-hand side in assignment
</pre>
<pre class="brush: js;">
Uncaught TypeError: Converting circular structure to JSON
</pre>
<pre class="brush: js;">
Unexpected token ;
</pre>
<pre class="brush: js;">
Uncaught SyntaxError: Unexpected token ILLEGAL
</pre>
<pre class="brush: js;">
Uncaught TypeError: Cannot read property ‘foo’ of null,
Uncaught TypeError: Cannot read property ‘foo’ of undefined
</pre>
<pre class="brush: js;">
Uncaught TypeError: Cannot set property ‘foo’ of null,
Uncaught TypeError: Cannot set property ‘foo’ of undefined
</pre>
<pre class="brush: js;">
Uncaught RangeError: Maximum call stack size exceeded
</pre>
<pre class="brush: js;">
Uncaught URIError: URI malformed
</pre>
<pre class="brush: js;">
XMLHttpRequest cannot load http://some/url/. No ‘Access-Control-Allow-Origin’ header is present on the requested resource
</pre>
<pre class="brush: js;">
InvalidStateError: An attempt was made to use an object that is not, or is no longer, usable
</pre>
<script type="text/javascript-lazy" src="/scripts/syntaxhighter.js"></script>