<div class="footer">
  <div class="container">
    <div class="contact_methods">
        <div class="contact_item">
            Contact me:
        </div>
        <div class="contact_item">
            <a href="mailto:wwwaap@gmail.com" title="email">
                <span class="icon icon-mail"></span>
                <span class="email_address">wwwaap@gmail.com</span>
            </a>
        </div>
        <div class="contact_item">
            <a href="https://twitter.com/wwwap" target="_blank" title="twitter">
                <span class="icon icon-twitter"></span>
            </a>
        </div>
       <!--  <div class="contact_item">
            <span class="icon icon-feed"></span>
        </div> -->
        <div class="contact_item">
            <a href="https://github.com/everthis" target="_blank" title="github">
                <span class="icon icon-mark-github"></span>
            </a>
        </div>
    </div>
    <div class="copyrights">
        <span class="icon icon-heart"></span>
        <span class="address">from everthis.com</span>
    </div>
  </div>
</div>