<p>Bored with "tar -zxvf" for .tar.gz, "tar -xvjf" for .tar.bz2 or something else? </p>
<pre class="brush: bash;">
	extract () {
	  if [ -f $1 ] ; then
	      case $1 in
	          *.tar.bz2)   tar xvjf $1    ;;
	          *.tar.gz)    tar xvzf $1    ;;
	          *.tar.xz)    tar -Jxvf $1   ;;
	          *.tar.Z)     tar zxvf $1    ;;
	          *.bz2)       bunzip2 $1     ;;
	          *.rar)       unrar x $1     ;;
	          *.gz)        gunzip $1      ;;
	          *.tar)       tar xvf $1     ;;
	          *.tbz2)      tar xvjf $1    ;;
	          *.tgz)       tar xvzf $1    ;;
	          *.zip)       unzip $1       ;;
	          *.Z)         uncompress $1  ;;
	          *.7z)        7z x $1        ;;
	          *.cab)       cabextract $1  ;;
	          *.arj)	   unarj $1	      ;;
 			  *.lzh)       lha e $1       ;;
	          *)           echo "don't know how to extract '$1'…" ;;
	      esac
	  else
	      echo "'$1' is not a valid file!"
	  fi
	}
</pre>

<p>For something like "cd .." or "cd ../.."</p>
<pre class="brush: bash;">
	up(){
	 local d=""
	 limit=$1
	 for ((i=1 ; i &lt;= limit ; i++))
	   do
	     d=$d/..
	   done
	 d=$(echo $d | sed 's/^\///'')
	 if [ -z "$d" ]; then
	   d=..
	 fi
	 cd $d
	}
</pre>
<p class="hint">Hint: Don't forget to execute "source ~/.bashrc" or ". ~/.bashrc" after modifying the .bashrc file.</p>

<p>If your network sucks, use mosh instead of ssh.</p>

<script type="text/javascript-lazy" src="/scripts/syntaxhighter.js"></script>
