<div class="film-title-area">
	<h1>Solution of Leetcode's hard difficulty algorithms</h1>
</div>
<h2>#4 Median of Two Sorted Arrays <span class="sub_title">2015-03-30</span></h2>
<pre class="brush: js;">
	/**
	 * @param {number[]} A
	 * @param {number[]} B
	 * @return {number}
	 */

	var findMedianSortedArrays = function(A, B) {
		var m = A.length,
		    n = B.length;
			// assume n >= m
		    if (m > n) {
		        return findMedianSortedArrays(B, A);
		    }

		var imin = 0,
		    imax = m,
		    i, j, num1, num2;
	    while ( imin <= imax ) {
	        i = (imin + imax) >> 1;
	        j = ((m + n + 1) >> 1) - i;
	        if (j > 0 && i < m && B[j - 1] > A[i]) {
	            imin = i + 1;
	        } else if (i > 0 && j < n && A[i - 1] > B[j]) {
	            imax = i - 1;
	        } else {
	            if ( i === 0 ) {
	                num1 = B[j - 1];
	            } else if (j === 0) {
	                num1 = A[i - 1];
	            } else {
	                num1 = Math.max(A[i - 1], B[j - 1]);
	            }

	            if ((m + n) & 1) {
	                return num1;
	            }

	            if (i === m) {
	                num2 = B[j];
	            } else if (j === n) {
	                num2 = A[i];
	            } else {
	                num2 = Math.min(A[i], B[j]);
	            }
	            return (num1 + num2) / 2.0;
	        }
	    }
	};
</pre>
<h2>#10 Regular Expression Matching <span class="sub_title">2015-03-28</span></h2>
<pre class="brush: js;">
	/**
	 * @param {string} s
	 * @param {string} p
	 * @returns {boolean}
	 */
	var isMatch = function(s, p) {
	            if (p.length === 0) {
	            return s.length === 0;
	        }

	        // length == 1 is the case that is easy to forget.
	        // as p is subtracted 2 each time, so if original
	        // p is odd, then finally it will face the length 1
	        if (p.length === 1) {
	            return (s.length === 1)
	                    && (p.charAt(0) == s.charAt(0) || p.charAt(0) == '.');
	        }

	        // next char is not '*': must match current character
	        if (p.charAt(1) != '*') {
	            if (s.length < 1) {
	                return false;
	            } else {
	                return (s.charAt(0) == p.charAt(0) || p.charAt(0) == '.')
	                        && isMatch(s.substring(1), p.substring(1));
	            }
	        }
	        // next char is *
	        while (s.length > 0
	               && (p.charAt(0) == s.charAt(0) || p.charAt(0) == '.')) {
	            if (isMatch(s, p.substring(2))) {
	                return true;
	            }
	            s = s.substring(1);
	        }
	        return isMatch(s, p.substring(2));
	};
</pre>

<h2>#65 Valid Number <span class="sub_title">2015-03-27</span></h2>
<pre class="brush: js;">
	/**
	 * @param {string} str
	 * @returns {boolean}
	 */
	var isNumber = function(str) {
            var i = 0;
	        // skip whitespace in the front
	        for( ; i < str.length && ' ' == str[i]; ++ i);
	        // handle positive and negative symbols
	        if('+' == str[i] || '-' == str[i])
	            ++ i;
	        // handle the following numbers
	        var digit = false, dot = false, exp = false;
	        for( ; i < str.length; ++ i) {
	            // '.' can not appear twice，there could be no numbers in front of '.'
	            if('.' == str[i] && !dot) {
	                dot = true;
	             // 'e'can not appear twice，there must numbers in front of 'e'
	            } else if('e' == str[i] && !exp && digit) {
	                // '.' must not appear behind 'e'，int (positive or negative) must be behind 'e'.
	                dot = exp = true;
	                if(i + 1 < str.length && ('+' == str[i + 1] || '-' == str[i + 1]))
	                    ++ i;
	                if(i + 1 >= str.length || !(str[i + 1] >= '0' && str[i + 1] <= '9'))
	                    return false;
	            } else if(str[i] >= '0' && str[i] <= '9') {
	                digit = true;
	            } else {
	                break;
	            }
	        }
	        // skip following space
	        for( ; i < str.length && ' ' == str[i]; ++ i);

	        return digit && i == str.length;
	};
</pre>

<h2>#68 Text Justification <span class="sub_title">2015-03-30</span></h2>
<pre class="brush: js;">
	/**
	 * @param {string[]} words
	 * @param {number} L
	 * @returns {string[]}
	 */
	var fullJustify = function(words, L) {
	    var res = [""];
	    if (words.length === 0 || L === 0) {
	        return res;
	    } else {
	        res.shift();
	        for (var i = 0, k, l; i < words.length; i += k) {
	            for (k = l = 0; i + k < words.length && l + words[i + k].length <= L - k; k++) {
	                l += words[i + k].length;
	            }
	            var tmp = words[i];
	            for (j = 0; j < k - 1; j++) {
	                if (i + k >= words.length) {
	                    tmp += " ";
	                } else {
	                	// Array(3).join('a') returns "aa"
	                    tmp += Array(parseInt((L - l) / (k - 1) + (j < (L - l) % (k - 1))) + 1 ).join(" ");
	                }
	                tmp += words[i + j + 1];
	            }
	            tmp += Array(parseInt(L - tmp.length) + 1).join(" ");
	            res.push(tmp);
	        }
	        return res;
	    }
	};
</pre>

<h2>#164 Maximum Gap <span class="sub_title">2015-03-31</span></h2>
<pre  class="brush: js;">
	/**
	 * @param {number[]} num
	 * @return {number}
	 */
	var maximumGap = function(num) {
	        if (num === null || num.length < 2) {
	            return 0;
	        }

	    // get the max and min value of the array
	    var min = num[0];
	    var max = num[0];
	    for (i = 0; i < num.length; i++) {
	        min = Math.min(min, num[i]);
	        max = Math.max(max, num[i]);
	    }
	    // the minimum possibale gap, ceiling of the integer division
	    var gap = Math.ceil((max - min)/(num.length - 1));
	    var bucketsMIN = [];// store the min value in that bucket
	    var bucketsMAX = [];// store the max value in that bucket
	    var max_int = Math.pow(2, 31) - 1;
	    var min_int = -Math.pow(2, 31);

	    bucketsMIN = Array.apply(null, new Array(num.length)).map(function(){return max_int;});
	    bucketsMAX = Array.apply(null, new Array(num.length)).map(function(){return min_int;});

	    // put numbers into buckets
	    for (i = 0; i < num.length; i++) {
	        if (num[i] == min || num[i] == max) {
	            // continue;
	        } else {
	            var idx = (num[i] - min) / gap; // index of the right position in the buckets
	            idx = parseInt(idx);
	            bucketsMIN[idx] = Math.min(num[i], bucketsMIN[idx]);
	            bucketsMAX[idx] = Math.max(num[i], bucketsMAX[idx]);
	        }
	    }
	    // scan the buckets for the max gap
	    var maxGap = min_int;
	    var previous = min;
	    for ( i = 0; i < num.length - 1; i++) {
	        if (bucketsMIN[i] === max_int && bucketsMAX[i] == min_int) {
	            // empty bucket
	            // continue;
	        } else {
	                    // min value minus the previous value is the current gap
	        maxGap = Math.max(maxGap, bucketsMIN[i] - previous);
	        // update previous bucket value
	        previous = bucketsMAX[i];
	        }
	    }
	    maxGap = Math.max(maxGap, max - previous); // updata the final max value gap
	    return maxGap;
	};
</pre>

<p>50个阶梯，一次可以上一阶或两阶，走上去，共有多少种走法?</p>
<pre class="brush: js;">
	function f(a){
	    var $={};
	    function _(a) {
	        return $[a] ? $[a] : ($[a] = a &lt;= 1 ? 1 : _(a-1) + _(a-2));
	    }
	    return _(a);
	};
	alert(f(50));
</pre>
<p class="hint">考虑到这里会有大量重复的运算，所以放置一个变量存储每个n对应的走法数。</p>

<script type="text/javascript-lazy" src="/scripts/syntaxhighter.js"></script>