<div class="postTitle">{{data.postTitle}}</div>
<div class="row">
	<span class="item" ng-repeat="content in data.contents">
		<div class="center-img-container">
	        <img ng-src="{{data.imagesLocation}}{{content.image}}" alt="{{image}}">
		</div>
		<div class="center-img-container">
	        <span>{{content.text}}</span>
		</div>
	</span>
</div>

<h2>browserify && testling</h2>
<h2>No headless browser found.</h2>
<pre class="brush: bash;">
	brew install phantomjs
	rm -rf ~/.config/browser-launcher
</pre>
<script type="text/javascript-lazy" src="/scripts/syntaxhighter.js"></script>
