<div class="film-title-area">
    <h1>StarCraft II World Championship Series Finals at BlizzCon 2013</h1>
</div>
<p>周末连续两晚从四点到十点看了BlizzCon WCS总决赛，第一天的比赛没看完。简单整理一下观后感;</p>
<p>这次比赛的参赛选手是来自三个赛区，历经八个月的才产生的。由于Naniwa和Revival的积分相同，他们俩直到北京时间11月6日才通过加赛决出最后一个名额，</p>
<p>第一天最大的冷门应该是INnoVation的出局，INnoVation长期WCS积分第一，直到最近才被老对手Soulkey超过。但击败他的确是一个“野怪”duckdeok。其余的比赛像Polt 3:0 aLive,Jaedong 3:0 MVP,Maru 3:1 MC这些虐菜般的就不提了。</p>
<p>第二天的比赛我都看完了，两场BO5，一场BO7。sOs对Bomber前两场Bomber展示了他一如既往的强大的暴兵和多线，其实Bomber是有机会赢的，第三场前期溜进sOs主矿，把sOs打成重伤，但他居然因为sOs的一点骚扰就拖出SCV“哲学流”，而且SCV还和部队脱节了。。。；暴君Jaedong在与Maru的半决赛中兵不血刃3：1拿下比赛。就在人们都以为本次冠军非Jaedong莫属的时候，因为他战胜了刚取得两连冠的神族选手Dear和OSL冠军Maru，并且这已经是他今年第五次站在决赛的舞台上了。没有多少人相信他会再一次输掉比赛，连拿五个亚军。然而很多人都不愿意看到的事情还是发生了：前两局“狗逼”sOs连续两盘光炮RUSH，2：0，第三局Jaedong艰难扳回一局，最后两局完美诠释了什么叫“一波争霸”，Jaedong GG。</p>
<p>附上一张“法克帝”Idra的twitter截图。</p>
<div class="img-container">
	<img src="images/games/Capture.JPG" alt="">
</div>
