<div class="film-title-area">
    <h1>{{film.filmTitle}}</h1>
</div>
<div class="film-single-item" ng-repeat="content in film.contents">
    <div class="screenshot" ng-repeat="image in content.images">
        <img ng-src="{{film.filmImagesLocation}}{{image}}" alt="{{image}}">
    </div>
    <div class="film-quote" ng-repeat="quote in content.quotes" ng-hide="!quote.character">
        <div class="character">{{quote.character}}:</div>
        <div class="lines">{{quote.lines}}</div>
    </div>
</div>



<!-- <div class="container film-img">
    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_000537.jpg" alt="">
        <div class="quote">
            <blockquote>
                <p>
                    <strong>George Bailey:</strong>I wish I had a million dollars... Hot dog!
                    <br>

                </p>
            </blockquote>
        </div>
    </p>
    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_000620.jpg" alt="">

        <div class="quote">
            <blockquote>
                <p>
                    <strong>VIOLET:</strong> Help me down?
                    <br>
            <strong>
                <span>George:</span>
            </strong>
                    <span> Help you down!</span>

                </p>
            </blockquote>
        </div>

    </p>
    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_000625.jpg" alt="">


    </p>
    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_000638.jpg" alt="">
        <div class="quote">
            <blockquote>
                <p>
                    <strong>George Bailey:</strong> I'm going out exploring some day, you watch. And I'm going to have a couple of harems, and maybe three or four wives. Wait and see.
                    <br>

                </p>
            </blockquote>
        </div>
    </p>
    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_000700.jpg" alt="">
        <div class="quote">
            <blockquote>
                <p>
                    <strong>Mary:</strong> Is this the ear you can't hear on? George Bailey, I'll love you till the day I die.
                    <br>
                </p>
            </blockquote>
        </div>

    </p>

    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_001049.jpg" alt="">
    </p>

    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_001153.jpg" alt="">
    </p>
    <div class="quote">
        <blockquote>
            <p>
                <strong>JOSEPH:</strong> I want you to take a good look at that face.
                <br>
                <strong>CLARENCE:</strong> Who is it?
                <br>
                <strong>JOSEPH:</strong> George Bailey.
                <br>
                <strong>CLARENCE:</strong> Oh, you mean the kid that had his ears slapped back by the druggist.
                <br>
                <strong>JOSEPH:</strong> That's the kid.
                <br>
                <strong>CLARENCE:</strong> It's a good face. I like it. I like George Bailey. Tell me, did he ever tell anyone about the pills?
                <br>
                <strong>JOSEPH:</strong> Not a soul.
                <br>
            </p>
        </blockquote>
    </div>
    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_002033.jpg" alt="">
    </p>
    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_002030.jpg" alt="">
    </p>

    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_002527.jpg" alt="">
    </p>

    <div class="quote">
        <blockquote>
            <p>
                <strong>Mary:</strong> Sir, my train, please.
                <br>
                <strong>George:</strong> A pox upon me for a clumsy lout. Your . . . your caboose, milady.
                <br>
                <strong>Mary:</strong> You may kiss my hand.
                <br>
            </p>
        </blockquote>
    </div>

    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_002631.jpg" alt="">
    </p>
    <div class="quote">
        <blockquote>
            <p>
                <strong>Mary:</strong> What did you wish,George?
                <br>
                <strong>George:</strong> Well, not just one wish. A whole hatful, Mary. I know what I'm gonna do tomorrow, and the next day, and the next year, and the year after that. I'm shakin' the dust of this crummy little town off my feet and I'm gonna see the world. Italy, Greece, the Parthenon, the Colosseum. Then, I'm comin' back here and go to college and see what they know... And then I'm gonna build things. I'm gonna build airfields, I'm gonna build skyscrapers a hundred stories high, I'm gonna build bridges a mile long...
                <br>
            </p>
        </blockquote>
    </div>

    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_002713.jpg" alt="">
    </p>
    <div class="quote">
        <blockquote>
            <p>
                <strong>George:</strong> What is it you want, Mary? What do you want? You want the moon? Just say the word and I'll throw a lasso around it and pull it down. Hey. That's a pretty good idea. I'll give you the moon, Mary.
                <br>
                <strong>Mary:</strong> I'll take it. Then what?
                <br>
                <strong>George:</strong> Well, then you could swallow it, and it'd all dissolve, see? And the moonbeams'd shoot out of your fingers and your toes, and the ends of your hair... Am I talking too much?
            </p>
        </blockquote>
    </div>
    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_002751.jpg" alt="">
    </p>

    <div class="quote">
        <blockquote>
            <p>
                <strong>Old Man:</strong> Yes! Why don't you kiss her instead of talking her to death?
                <br>
                <strong>George:</strong> How's that?
                <br>
                <strong>Old Man:</strong> Why don't you kiss her instead of talking her to death?
                <br>
                <strong>George:</strong> Want me to kiss her, huh?
                <br>
                <strong>Old Man:</strong> Ah, youth is wasted on the wrong people!
                <br>
            </p>
        </blockquote>
    </div>
    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_002755.jpg" alt="">
    </p>
    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_004943.jpg" alt="">
    </p>

    <div class="quote">
        <blockquote>
            <p>
                <strong>Sam:</strong> [to George] I may have a job for you, that is, unless you're still married to that broken-down building and loan. Ha, ha, ha. It's the biggest thing since radio and I'm lettin' you in on the ground floor. [to Mary] Will you tell that guy I'm giving him the chance of a lifetime? You hear - the chance of a lifetime.
                <br>
                <strong>Mary:</strong> He says it's the chance of a lifetime.
                <br>

                <strong>George:</strong> Now, you listen to me! I don't want any plastics, and I don't want any ground floors, and I don't want to get married - ever - to anyone! You understand that? I want to do what I want to do. And you're...and you're... Oh Mary, Mary.
                <br>
                <strong>Mary:</strong> George, George, George.
                <br>
            </p>
        </blockquote>
    </div>
    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_005130.jpg" alt="">
    </p>
    <div class="quote">
        <blockquote>
            <p>
                <strong>George:</strong>Where are we going? Look at this. There's the kitty, Ernie. Here, come on, count it, Mary.
                <br>
                <strong>
                <span>Mary:</span>
            </strong>
                <span>I feel like a bootlegger's wife.</span>Look!
                <strong>
                <br>George:
            </strong>You know what we're going to do? We're going to shoot the works. A whole week in New York. A whole week in Bermuda. The highest hotels, the oldest champagne, the richest caviar, the hottest music, and the prettiest wife!
                <br>
                <strong>Ernie:</strong>Wow! That does it! Then what?
                <br>
                <strong>George:</strong>Then what, honey?
                <br>
                <strong>
                <span>Mary:</span>
            </strong>
                <span>After that, who cares?</span>
            </p>
        </blockquote>
    </div>
    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_005202.jpg" alt="">
    </p>
    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_012416.jpg" alt="">
    </p>

    <div class="quote">
        <blockquote>
            <p>
                <strong>George:</strong> Listen to me! Listen to me! Think! Think!
                <br>
                <strong>Uncle Billy:</strong> I can't think any more, George. I can't think any more. It hurts . . .
                <br>

                <strong>George:</strong> Where's that money, you stupid, silly old fool? Where's the money? Do you realize what this means? It means bankruptcy and scandal, and prison! That's what it means! One of us is going to jail! Well, it's not going to be me!
                <br>
            </p>
        </blockquote>
    </div>
    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_013400.jpg" alt="">
    </p>
    <div class="quote">
        <blockquote>
            <p>
                <strong>Potter:</strong> I see. I've suddenly become quite important. What kind of security would I have, George? Have you got any stocks?
                <br>
                <strong>George:</strong> No, sir.
                <br>

                <strong>Potter:</strong> Bonds? Real estate? Collateral of any kind?
                <br>
                <strong>George:</strong> I have some life insurance, a fifteen thousand dollar policy.
                <br>
                <strong>Potter:</strong> Yes . . . how much is your equity in it?
                <br>
                <strong>George:</strong> Five hundred dollars.
                <br>
            </p>
        </blockquote>
    </div>
    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_015916.jpg" alt="">
    </p>
    <div class="quote">
        <blockquote>
            <p>
                <strong>Clrence:</strong> Strange, isn't it? Each man's life touches so many other lives. When he isn't around he leaves an awful hole, doesn't he? You see, George, you've really had a wonderful life. Don't you see what a mistake it would be to throw it away?
                <br>
            </p>
        </blockquote>
    </div>
    <p class="img"> <img src="images/it_is_a_wonderful_life/It's.A.Wonderful.Life.Colorized.Version.1946.720p.BluRay.x264-EbP.mkv_020510.jpg" alt="">
    </p>

    <hr>
 -->