
  <div ng-controller="ExampleController">
  <canvas id="q" class="matrix">
    <h1 class="matrix">Dude,your browser does not support canvas.</h1>
</canvas>
    Date format: <input ng-model="format"> <hr/>
    Current time is: <span my-current-time="format"></span>
    <hr/>
    Blood 1 : <font color='red'>{{blood_1}}</font>
    Blood 2 : <font color='red'>{{blood_2}}</font>
    <button type="button" data-ng-click="fight()">Fight</button>
    <button type="button" data-ng-click="stopFight()">StopFight</button>
    <button type="button" data-ng-click="resetFight()">resetFight</button>
  </div>
<script type="text/javascript-lazy" src="/scripts/matrix.js"></script>