<h4>REVERSE ELLIPSIS</h4>
<div class="grid-container">
	<span class="grid grid-md-6 grid-sm-12">
		<h2>Ellipsis</h2>
		<div class="box ellipsis">Here is some long content that doesn't fit.</div>
		<div class="box ellipsis">Here is some that does fit.</div>
	</span>
	<span class="grid grid-md-6 grid-sm-12">
		<h2>reverse ellipsis</h2>
		<div class="box ellipsis reverse-ellipsis"><span>Here is some long content that doesn't fit.</span></div>
		<div class="box ellipsis reverse-ellipsis"><span>Here is some that does fit.</span></div>
	</span>
</div>


<pre class="brush: css;">
	/**
	 * 1. Hide any overflow
	 * 2. Prevent any line-break
	 * 3. Add ellipsis at end of line
	 */
	.ellipsis {
	    overflow: hidden;        /* 1 */
	    white-space: nowrap;     /* 2 */
	    text-overflow: ellipsis; /* 3 */
	}
</pre>
<h5>cross browser solution</h5>
<pre class="brush: css;">
	.reverse-ellipsis {
	  text-overflow: clip;
	  position: relative;
	  background-color: white;
	}

	.reverse-ellipsis:before {
	  content: '\02026';
	  position: absolute;
	  z-index: 1;
	  left: -1em;
	  background-color: inherit;
	  padding-left: 1em;
	  margin-left: 0.5em;
	}

	.reverse-ellipsis span {
	  min-width: 100%;
	  position: relative;
	  display: inline-block;
	  float: right;
	  overflow: visible;
	  background-color: inherit;
	  text-indent: 0.5em;
	}

	.reverse-ellipsis span:before {
	  content: '';
	  position: absolute;
	  display: inline-block;
	  width: 1em;
	  height: 1em;
	  background-color: inherit;
	  z-index: 200;
	  left: -.5em;
	}
</pre>

<h4>Moving Elements With Translate() Is Better Than Pos:abs Top/left</h4>
<script type="text/javascript-lazy" src="/scripts/syntaxhighter.js"></script>