<ol>
    <li>background and borders of the element that establishes the stacking context.</li>
    <li>the stacking contexts of descendants with negative stack levels</li>
    <li>block-level descendants in the normal flow</li>
    <li>floated descendants and their contents</li>
    <li>inline-level descendants in the normal flow</li>
    <li>positioned descendants whose z-index is auto or 0</li>
    <li>the stacking contexts of descendants with positive stack levels</li>
</ol>
<div class="teachers-notes markdown-zone">
    <h4>Things to Consider</h4>
    <ul>
        <li><p><strong>Fixed</strong> websites have a set width and resizing the browser or viewing it on different devices won’t affect on the way the website looks. </p></li>
        <li><p><strong>Fluid</strong> websites are built using percentages for widths. As a result, columns are relative to one another and the browser allowing it to scale up and down fluidly. </p></li>
        <li><p><strong>Adaptive</strong> websites introduce media queries to target specific device sizes, like smaller monitors, tablets, and mobile.  </p></li>
        <li><p><strong>Responsive</strong> websites are built on a fluid grid and use media queries to control the design and its content as it scales down or up with the browser or device. </p></li>
    </ul>
</div>
<p> If you try to set a z-index on an element with no position specified, it will do nothing.</p>
<p> When you introduce the position property into the mix, any positioned elements (and their children) are displayed in front of any non-positioned elements. (To say an element is “positioned” means that it has a position value other than static, e.g., relative, absolute, etc.)</p>