<table class="">
    <thead>
        <tr>
            <th></th>
            <th>Radeon R9 290X</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>GPU Codename</th>
            <td>Hawaii XT</td>
        </tr>
        <tr>
            <th>Process</th>
            <td>28nm</td>
        </tr>
        <tr>
            <th>Transistors</th>
            <td>6.2 Billion</td>
        </tr>
        <tr>
            <th>Die size</th>
            <td>438 (mm squared)</td>
        </tr>
        <tr>
            <th>GPU Clock</th>
            <td>1 GHz</td>
        </tr>
        <tr>
            <th>Stream Processors</th>
            <td>2,816</td>
        </tr>
        <tr>
            <th>Compute Performance</th>
            <td>5.6 TFLOPS</td>
        </tr>
        <tr>
            <th>Memory Configuration</th>
            <td>4GB GDDR5 / 512-bit</td>
        </tr>
        <tr>
            <th>Memory Speed</th>
            <td>5.0 Gbps</td>
        </tr>
        <tr>
            <th>Power Connectors</th>
            <td>1 x 6-pin, 1 x 8-pin</td>
        </tr>
        <tr>
            <th>PCI-E Standard</th>
            <td>PCI-E 3.0</td>
        </tr>
        <tr>
            <th>AMD TrueAudio Technology</th>
            <td>Yes</td>
        </tr>
        <tr>
            <th>API Support</th>
            <td>DirectX 11.2, OpenGL 4.3, Mantle</td>
        </tr>
    </tbody>
</table>
<h3>几个290x的features</h3>
<p>290X采用了Mantle API，官方宣称每秒绘制指令数比其他技术多9倍。除了效率提高外，采用Mantle API，可以减少平台之间移植的工作量。</p>
<p class="center-img-container"><img src="images/r9_290x/amd-mantle.jpg" alt=""></p>
<p>取消了Crossfire的连接桥，改走PCI-E。值得一提的是，AMD的CF效率从HD6000系列开始就非常高，双卡CF效率普遍超过190%。</p>
<p class="center-img-container"><img src="images/r9_290x/small_slide-4.jpg" alt=""></p>
<p>多屏显示技术Eyefinity，不再需要一个设备必须连接Displayport接口。</p>
<p class="center-img-container"><img src="images/r9_290x/small_slide-1.jpg" alt=""></p>
<p>290x采用了AMD TrueAudio，号称世界首款可编程音频渲染技术。AMD在今年“GPU 14 Tech Day Event”总计3小时45分钟的发布会上，花了一个小时的时间讲述这项技术。说到音频，我就想到Hi-Fi，然后。。。就没有然后了。</p>
<p class="center-img-container"><img src="images/r9_290x/small_slide-3.jpg" alt=""></p>
<p>最后，说一下PowerTune，AMD在显卡功耗，温度，噪音方面做了很多改进，比如290X的PWM主控换成了IR3567，电压切换时间小于10us，支持0-1.55V之间的256级电压调节，以及随之相关的催化剂方面的改进。但是从目前的信息看，温度控制方面与Titan，780还有差距。不过对于其549美元的售价来说，已经是业界良心了。</p>
<p class="center-img-container"><img src="images/r9_290x/small_slide-2.jpg" alt=""></p>