<div class="filter-section">
  <span>
    <div class="search-field">
      Search: <input ng-model="query">
    </div>
  </span>
  <span class="tag-field">
    <span ng-repeat="post in posts | unique:'category'" class="per-tag" ng-class="{checked: tagChecked === true};" ng-click="includePost('{{post.category}}')">
        #{{post.category}}
    </span>
  </span>
</div>
<div class="sort-field">
  <span class="postName-field">
    <a href="javascript:;"
       ng-click="sortPostName(this);"
       ng-class="{up: postReverse === false, down: postReverse === true, random: postReverse === null}">postName</a>
  </span>
  <span class="date-field">
    <a href="javascript:;"
       ng-click="sortPostDate(this);"
       ng-class="{up: dateReverse === false, down: dateReverse === true, random: dateReverse === null}">date</a>
  </span>
</div>
<a class="post-item" ng-repeat="post in posts | filter: query | filter:PostFilter | orderBy:sortField:reverse" href="#/views/{{post.category}}/{{post.postName}}">
  <span class="post-title">{{post.postName}}</span>
  <span class="date">{{post.date}}<span class="modified-mark {{post.isModified ? 'show' : 'invisible'}}">*</span></span>
</a>
