<header class="post-header">git使用教程<span class="header-hint">(注：OS X与Windows下使用方法基本一致。)</span></header>
<ol class="git-ol">
	<li>到<a href="http://git-scm.com/" target="_blank">http://git-scm.com/</a>下载并安装git客户端 <br><img src="/images/download.JPG" alt=""></li>
	<li>ssh-keygen -t rsa -C "Your email address" <br><img src="/images/keygen.JPG" alt=""></li>
	<li>将生成的.pub文件内容填到如下key位置 <br><img src="/images/ssh.JPG" alt=""></li>
	<li>git config --global user.name "username" <br><img src="/images/name.JPG" alt=""></li>
	<li>git config --global user.email "Your email address" <br><img src="/images/email.JPG" alt=""></li>
	<li>mkdir test <br><img src="/images/mkdir.JPG" alt=""></li>
	<li>cd test <br><img src="/images/cd.JPG" alt=""></li>
	<li>git init <br><img src="/images/init.JPG" alt=""></li>
	<li>touch README.md <br><img src="/images/touch.JPG" alt=""></li>
	<li>git add README.md <br><img src="/images/add.JPG" alt=""></li>
	<li>git commit -m "first commit" <br><img src="/images/commit.JPG" alt=""></li>
	<li>git remote add origin Your_git_repo <br><img src="/images/remote.JPG" alt=""></li>
	<li>git push -u origin master <br><img src="/images/push.JPG" alt=""></li>
	<li>获取最新版本：git pull <br><img src="/images/pull.JPG" alt=""></li>
</ol>